* {
  font-family: 'EB Garamond', serif;
  color: black;
  box-sizing: border-box;
  margin: 0;
  
}

.header-wrapper, header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  margin-top: 20px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
  margin-left: -20px;
}

a {
  text-decoration: none;
  
}

.work {
  border-bottom: 1px solid black;
}

.about {
  border-bottom: 1px solid black;
}

.contact {
  border-bottom: 1px solid black;
}


nav {
  font-size: 20px;
}

h1 {
  font-size: 2rem;
  margin-left: 60px;
  font-weight: normal;
}

.logo-wraper, span {
  font-size: 1.2rem;
  margin-right: 2.3rem;
}

.logo-wraper, span:hover {
  cursor: pointer;
}

span {
  margin-left: -25px;
}


p {
  font-size: 18px;
}

.image__section {
  width: 203vh;

}


.main__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 6.5rem;
  margin-right: 20px;
  margin-left: 20px;
}

.main__container p {
  margin-top: 10px;
  font-size: 1.37rem;
}

.image_four {
  width: 600px;
  height: 500px;
  margin-left: 30px;
  margin-bottom: 50px;
} 

img {
  width:  570px;
  height: 430px;
  object-fit: cover;
  
}

img:hover {
  cursor: pointer;
  opacity: 0.9;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-bottom: 120px;
  width: 48%;
}

.text-wrapper, h2, h3 {
  font-size: 2.5rem;
  font-weight: normal;
}

.text-wrapper h3 {
  font-size: 2rem;
  border-bottom: 1px solid black;
  width: fit-content;
  margin-top: 25px;
}


/* About page*/

.about__page {
  max-width: 39rem;
  margin-top: 4.5rem;
  
}

.about_header1 {
  font-size: 2.2rem;
}

.about__page p {
  margin-top: .90rem;
  margin-left: 3.9rem;
  font-size: 1.3rem;
}

.listing2 {
  display: flex;
  margin-top: 7.5rem;
  margin-bottom: 9.5rem; 
  font-size: 1.3rem;
  gap: 12rem;
}

.listing2 ol li {
  list-style-type: none;
  max-width: 30rem;
  margin-left: 1.5rem;
  
}

#services_1 {
  font-weight: bolder;
  margin-bottom: 1rem; 
  
}

/* About page end*/

footer {
  margin-left: 60px;
  margin-bottom: 4.1rem;
  font-size: 30px;
}

footer a {
  border-bottom: 1px solid black;
  
}

footer h3 {
  margin-top: 20px;
  
}

footer p {
  font-size: 1.3rem;
}

#square {
  margin-top: 20px;
}