* {
  font-family: 'EB Garamond', serif;
  color: black;
  box-sizing: border-box;
}

.header-wrapper, header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-size: 18.676px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

a {
  text-decoration: none;
  
}

nav {
  font-size: 20px;
}

h1, h2 {
  font-size: 29.32px;
  margin-left: 81px;
  
}

.logo-wraper, span {
  font-size: 1.2rem;
  margin-right: 1rem;
  
}

p {
  font-size: 18px;
}

.image__section {
  width: 203vh;

}

.main__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
  margin-top: 3rem;
}

img {
  
  width:  459.41px;
  height: 344.55px;
  object-fit: cover;
  
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 81px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
}

footer {
  margin-left: 81px;

}